body {
  background-color: #0a0a0a;
  color: #ededed;
}

.show-search {
  font-family: "Gill Sans", sans-serif;
  padding: 20px;
  max-width: 1400;
  width: 1270px;
  margin: 0 auto;
}

.show-search__title {
  text-align: center;
  font-size: 40px;
}

.show-search__form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid #ffffff;
}

.show-search__label {
  font-size: 20px;
  margin-right: 15px;
}

.show-search__input {
  border: 1px solid #ffffff;
  margin-right: 15px;
  padding: 5px;
  background-color: #0000;
}

.show-search__button {
  border: 2px solid #ffffff;
  padding: 5px;
  cursor: pointer;
  width: 100px;
  background-color: #0000;
  color: #ffffff;
}

.show-search__grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
  gap: 10px;
}

.show-card {
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 5%;
  width: 395px;
}

.show-card__poster {
  margin: 0 auto;
  width: 260px;
  height: 280px;
  object-fit: contain;
}
